.App {
  font-family: sans-serif;
  text-align: center;
}

.form-container{
  display: flex;
  justify-content: space-between;
  padding: 64px;
}

.config-preview{
  height: 100vh;
}


.error-msg{
  color: #f00;
}

.success-msg{
  color: #0f0;
}
